{% load i18n %}

<h4 class="text-center">{% trans "VISION" %}</h4>

<ul>
	<li>{% trans "We acknowledge that Mother Earth is free of ownership and borders and we peacefully work to return her to this natural state." %}</li>

	<li>{% trans "We envision a global garden of abundance in which all beings live together in harmony." %}</li>

	<li>{% trans "To fulfill this vision we co-create a worldwide self-sufficient network of open, sustainable communities which protect and rehabilitate our ecosystems while producing food and other resources." %}</li>

	<li>{% trans "Caravans link the communities and help spread energy and products." %}

	<li>{% trans "Within the carrying capacity of local ecosystems, the network provides safe homes for individuals whether they be sedentary or nomadic." %}</li>

	<li>{% trans "Free and equal individuals live together in communities based on inclusiveness, acceptance, care and healing, peaceful conflict resolution, sharing and co-operation and the evolution of consciousness." %}</li>

	<li>{% trans "We interact in egalitarian circles wherein communal decisions are made by consensus." %}</li>

	<li>{% trans "The community is the guardian of the land, all structures and resources." %}</li>

	<li>{% trans "We believe in gift economy and we accept donations. We believe in a world where we all share our surpluses without expecting a return. We want to be as free from the energy of commercialism as possible." %}</li>

	<li>{% trans "We show deep love, respect and humility in our interaction with ourselves, our neighbours, Mother Earth and all beings." %}</li>

	<li>{% trans "Individual communities enjoy autonomy within the framework of our Declaration of Common Intention." %}</li>

	<li>{% trans "We call our homes Rainbow Crystal Land because as a crystal can contain the rainbow, the lands can contain the spirit of rainbow gatherings." %}</li>
</ul>

<p><strong><em>{% trans "We are one." %}</em></strong></p>