{% load i18n %}

<h4 class="text-center">{% trans "Appendix A: Accepting A New RCL" %}</h4>

<p>
	{% trans "Our vision is the creation of sustainable permanent communities in a self-sufficient network, so how a new land can produce food and other resources must be considered before being accepted into the RCL Network. Other types of homes or lands, such as city houses or apartments, boats, land-preservation projects without human habitation or unproductive lands serving as nothing more than camp sites should not be awarded full status as independent RCLs but can be included into the RCL Network as a “sub-RCL” by being owned by another RCL’s Organization and managed by that RCL community." %}
</p>

<p>
	{% trans "Here are some points to bear in mind for the RCL circle which has the power to accept a new RCL into the RCL Network, although some of these points might be concluded by the new RCL Community itself." %}
</p>

<ul>
	{# Translators: Appendix A: Accepting a New RCL, the donor of the land #}
	<li><strong>{% trans "The donor:" %}</strong>
		<ul>
			<li>{% trans "A clear understanding of RCL. What does “open and ownerless” mean to them? Does the donor want special rights to the RCL?" %}</li>

			<li>{% trans "Motivation and clear vision." %}</li>

			<li>{% trans "A clear commitment and specific plan to complete the legal transfer of ownership to an RCL Organization." %}</li>
			
			<li>{% trans "A request for a Founding Consensus – is it reasonable and in line with our vision?" %}</li>
		</ul>
	</li>

	<li><strong>{% trans "The land:" %}</strong>
		<ul>
			<li>{% trans "Existence of drinking water." %}</li>

			<li>{% trans "Will there be a permanent community? If not, can it be a “sub-RCL” managed by another RCL?" %}</li>
		</ul>
	</li>

	<li><strong>{% trans "Legalities:" %}</strong>
		<ul>
			<li>{% trans "Clarity on the current, pre-donation status of ownership." %}</li>

			<li>{% trans "Will the RCL be owned or held in trust? By a new or existing RCL Organization? Is the existing RCL Organization open for new RCLs? If new, who will focalize setting it up?" %}</li>

			<li>{% trans "Clarity on governmental restrictions on land-use or special responsibilities. Do we need building permission to construct structures?" %}</li>

			<li>{% trans "No outstanding debt and clarity on all applicable taxes and other fees. Does another RCL take responsibility for the fees if only a “sub-RCL”?" %}</li>

			<li>{% trans "Are there any national or local laws that might conflict with our vision?" %}</li>
		</ul>
	</li>

	<li><strong>{% trans "Energy:" %}</strong>
		<ul>
			<li>{% trans "Motivated group of people." %}</li>
			<li>{% trans "The availability of long-term residents." %}</li>
			<li>{% trans "The availability of resources and money." %}</li>
		</ul>
	</li>

	<li><strong>{% trans "The community:" %}</strong>
		<ul>
			<li>{% trans "What is the common vision of the community? What is the focus, aim and driving force?" %}</li>
			<li>{% trans "How will sustainability be achieved?" %}</li>
			<li>{% trans "What is the role of this community within the RCL Network?" %}</li>
		</ul>
	</li>
</ul>