{% load i18n %}

<h4 class="text-center">{% trans "Appendix B: RCL Organizations" %}</h4>



<p><strong>{% trans "Minimum legal requirements for RCL Organizations:" %}</strong></p>


<ul>
	<li>{% trans "The Organization must be:" %}
		<ul>
			<li>{% trans "Legally incorporated (fully recognized by the local legal system)" %}</li>
			<li>{% trans "Private (not public)" %}</li>
			<li>{% trans "Non-profit (must reinvest all funds in itself or its constituent communities)" %}</li>
			<li>{% trans "Community-run (volunteers, no one receives a salary)" %}</li>
			<li>{% trans "Non-hierarchical (the Organization’s Bylaws or internal rules must remove all decision-making powers from its Trustees or Directors)" %}</li>
			<li>{% trans "Of a type which offers limited personal liability for its Trustees or Directors." %}</li>
		</ul>
	</li>
	
	<li>{% trans "The Organization’s Mission Statement must closely resemble the RCL DCI Part I." %}</li>
	
	<li>{% trans "The Organization holds lands and buildings in Perpetual, Irrevocable Common Trusteeship (preferred) or Ownership for the benefit of The Rainbow Family (meaning all human beings), Mother Earth and All Beings." %}</li>
	
	<li>{% trans "All current residents (meaning anyone currently present) of all constituent RCLs are automatically members of the RCL Organization. All decisions by the RCL Organization are made through consensus of all its members." %}</li>
	
	<li>{% trans "The Organization does not borrow money and no asset can be used as security for loans." %}</li>
	
	<li>{% trans "[<em>If legally possible</em>:] The Organization is not responsible for its constituent communities or individuals living in them, nor their unlawful acts. Individuals enter RCLs at their own risk." %}</li>
</ul>
