Django==1.6
Markdown==2.3.1
# Install platform libraries if needed, see
# https://pypi.python.org/pypi/Pillow/2.1.0
Pillow==2.3.0
Pillow-PIL==0.1dev
South==0.8.4
django-annoying==0.7.9
django-crispy-forms==1.4.0
django-debug-toolbar==1.0
django-registration==1.0
# we use this custom app because allows custom User model
git+git://github.com/sromero84/django-registration-email.git#egg=django_registration_email
pep8==1.4.6
postmarkup==1.2.0
psycopg2==2.5.1
pybbm==0.15.1
# By recommendation for pybbm,
# https://pybbm.readthedocs.org/en/latest/install.html#fresh-project
django-pure-pagination==0.2.1
sorl-thumbnail==11.12
# Use this command in Webfaction server:
# pip2.7 install --install-option="--install-scripts=$PWD/bin" --install-option="--install-lib=$PWD/lib/python2.7" --allow-external postmarkup --allow-unverified postmarkup --user -r requirements.txt 