body {
	background-color: #F7F6EB;
	padding-bottom: 70px;
}

.test-site-warning .alert {
  opacity: 0.8;
}

.form-control {
	width: 400px;
}

.main .header {
    text-align: center;
}

.main .content {
    min-height: 540px;
}

.footer {
	text-align: center;
}

.center {
  text-align: center;
}

.navbar {
  margin-bottom: 10px;
}

/********************************/
/* Pybb extensions or overrides */
/********************************/
.post-signature {
	margin-top: 10px;
	border-top: 1px solid #C9C9C9;
}

.posts .post-header tr th {
  padding: 2px;
}

.posts .post-header .updated {
  font-size: 12px;
}

.posts .post .post-info {
  width: 200px;
}

/***********************/
/* Bootstrap overrides */
/***********************/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
  height:100%;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 10px;
  border-left: 5px solid #C9C9C9;
}

.topic .form-horizontal .form-group {
  margin-left: 200px;
}

.topic .form-horizontal .attachments-form {
  margin-left: 200px;
}

.topic .form-horizontal .form-group textarea {
  max-width: 720px;
  min-width: 720px;
}