{% extends 'pybb/base.html' %}

{% load url from future %}

{% load i18n pybb_tags crispy_forms_tags %}

{% block title %}{% trans "Profile editing" %}{% endblock title %}

{% block content %}
    <h1>{% trans "Forum Settings" %}</h1>
    {% include 'pybb/avatar.html' with user=user %}
    <form method="post" enctype="multipart/form-data" class="profile-edit">
        {% csrf_token %}
        
        {{ form|crispy }}
        <p>{% include "pybb/_button_save.html" %}</p>
    </form>
    <h1>{% trans "Subscriptions on topics" %}</h1>
    <ul>
        {% for sub in user.subscriptions.all %}
            <li>
                {% pybb_link sub %}
                &mdash;
                <strong>
                    <a href="{% url 'pybb:delete_subscription' sub.id %}" title="{% trans 'Remove' %}"><span class="glyphicon glyphicon-remove"></span></a>
                </strong>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
